.trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.question {
    width: 80%;
    padding: 20px;
    border:  2px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(26, 24, 24);
}
.answers {
     width:  100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
.answer {
    width: 40%;
    padding: 10px;
    margin: 2px;
    text-align: center;
    background: linear-gradient(rgb(16, 29, 102),rgb(58, 15, 15));
    border: 2px solid white;
    border-radius: 20%;
    margin: 10px 0  0 10px;
}
.answer:hover ,
.answer.active {
    background: rgb(41, 41, 211);
}
.answer.active{
    cursor:not-allowed ;
}
.answer.correct {
    animation: correct 3s ease forwards;
}
@keyframes correct {
 
    0%, 
    22%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#0e0505 ,#0e0909);
    }
    62%,
    100%{
         background: green;
    }
}

.answer.wrong{
    animation: worng 3s ease forwards;
}
@keyframes worng {
    0%,
    22%,
    42%{
        background: rgb(77, 77, 240);
    }
    20%,
    40%,
    60%{
        background: linear-gradient(#0e0505 ,#0e0909);
    }
    62%,
    100%{
        background: crimson;
    }
}