.startPage{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.username{

    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.startButton{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}